.Forcast {
  width: 290px;
  height: 350px;
  padding: 12px;
  overflow: scroll;
}

.forcastWrapper {
  border: 1px solid #000000;
  margin-bottom: 20px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.forcastCity {
  margin-bottom: 20px;
}
.box4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: end;
  position: relative;
}
.forcastIcon {
  width: 60px;
  height: 60px;
}
