@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 24px;
}

body {
    background-color: #e5e5e5;
}

li {
    list-style-type: none; /* Убираем маркеры */
    margin-top: 15px;
}

input, form, button, img {
     background-color: inherit;
     border: none;
 }

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
}
